{% extends "layout.html.j2" %}
{% block title %}Страница не найдена{% endblock %}
{% block content %}

<div class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <p>Вы выполнили запрос к несуществующей странице</p>
    <p>Адрес запроса: {{ url }}</p>
    <p>Вернуться к <a href="/">основному содержимому</a></p>
  </div>
</div>

{% endblock %}
