{% import 'forms.j2' as forms %}
{% extends 'layout.html.j2' %}
{% block title %}Добавить человека к делу{% endblock %}
{% block content %}
<h1>Добавить человека к делу</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.person_id.label }}
    {{ forms.with_errors(form.person_id) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
