{% import 'forms.j2' as forms %}
{% extends 'layout.html.j2' %}
{% block title %}Добавить ресурс к делу{% endblock %}
{% block content %}
<h1>Добавить ресурс к делу</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.resource_id.label }}
    {{ forms.with_errors(form.resource_id) }}
  </p>
  <p>
    {{ form.quantity.label }}
    {{ forms.with_errors(form.quantity) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
