{% extends 'layout.html.j2' %}
{% block title %}Дело {{ affair.title }}{% endblock %}
{% block content %}
<h2>{{ affair.title }}</h2>
<div class="grid-x grid-padding-x">
    <table>
        <tr>
            <th>Название</th>
            <td>{{ affair.title }}</td>
        </tr>
        {% if affair.description %}
        <tr>
            <th>Описание</th>
            <td>{{ affair.description }}</td>
        </tr>
        {% endif %}
        {% if affair.linked_time %}
        <tr>
            <th>Привязка ко времени</th>
            <td>{{ affair.linked_time.strftime("%d.%m.%Y в %H:%M") }}</td>
        </tr>
        {% endif %}
        {% if affair.period %}
        <tr>
            <th>Период</th>
            <td>{{ affair_period_enum(affair.period).label }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Приоритет</th>
            <td>{{ affair_priority_enum[affair.priority].value }}</td>
        </tr>
        <tr>
            <th>Прогресс выполнения</th>
            <td>{{ affair.done_percent }}%</td>
        </tr>
        <tr>
            <th>Категория</th>
            <td>{{ affair.category if affair.category else "Не установлена" }}</td>
        </tr>
        {% if affair.parent_affair_id %}
        <tr>
            <th>Родительское дело</th>
            <td><a href="{{ url_for('affairs.affair', affair_id=affair.parent_affair_id) }}">{{
                    affair.parent_affair_title }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <th>Круг вовлеченных лиц</th>
            <td>
                <ul>
                    {% for person in affair.people %}
                    <li>
                        <a href="{{ url_for('people.person', person_id=person.id) }}">
                            {{ person.first_name }} {{ person.last_name if
                            person.last_name}}
                        </a>
                        <a href="{{ url_for('affairs.delete_person_from_affair', affair_id=id, person_id=person.id) }}">(удалить)</a>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('affairs.add_person_to_affair', affair_id=id) }}">Добавить вовлеченное лицо</a>
            </td>
        </tr>
        <tr>
            <th>Используемые ресурсы</th>
            <td>
                <ul>
                    {% for resource in affair.resources %}
                    <li><a href="{{ url_for('resources.resource', resource_id=resource.id) }}">
                            {{ resource.name }} {{ resource.quantity }} шт.    
                        </a>
                        <a href="{{ url_for('affairs.delete_resource_from_affair', affair_id=id, resource_id=resource.id) }}">(удалить)</a>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('affairs.add_resource_to_affair', affair_id=id) }}">Добавить ресурс</a>
            </td>
        </tr>
    </table>
    <a class="button" href="{{ url_for('affairs.edit_affair', affair_id=id) }}">Редактировать</a>
    <a class="button alert" href="{{  url_for('affairs.del_affair', affair_id=id) }}">Удалить</a>
</div>
{% endblock %}
