{% extends 'layout.html.j2' %}
{% block title %}Список дел{% endblock %}
{% block content %}
<h1>Список дел</h1>
<form method="GET">
    <div class="grid-x grid-padding-x align-bottom">
        <div class="medium-4 cell">
            Временной период
            <label>От:
                <input type="datetime-local" name="from_date_time" value="{{ from_date_time }}">
            </label>
        </div>
        <div class="medium-4 cell">
            <label>До:
                <input type="datetime-local" name="to_date_time" value="{{ to_date_time }}">
            </label>
        </div>
        <div class="medium-4 cell">
            <label>Незавершен
                <input type="radio" name="is_open" value="true" {% if is_open=="true" %}checked{% endif %}>
            </label>
            <label>Завершен
                <input type="radio" name="is_open" value="false" {% if is_open=="false" %}checked{% endif %}>
            </label>
        </div>
        <div class="medium-4 cell">
            <input type="submit" value="Фильтровать" class="button">
            <a href="/affairs" class="button">Сбросить</a>
        </div>
    </div>
</form>

<div class="grid-x grid-padding-x">
    <div class="medium-4 cell">
        <a href="{{ url_for('affairs.new_affair') }}" class="button">Добавить дело</a>
    </div>
    {% for affair in affairs %}
    <div class="medium-12 cell">
        <div class="callout">
            <p>
                <a href="{{ url_for('affairs.affair', affair_id=affair.id) }}"><b>{{ affair.title }}</b> 
                {{ affair.linked_time.strftime("%d.%m.%Y в %H:%M") if affair.linked_time }}</a>
            </p>
            <p>Степень завершенности {{ affair.done_percent }}%</p>
            {% if affair.done_percent != 100 %}
            <p>
                <a class="button tiny" href="{{ url_for('affairs.affair_done', affair_id=affair.id) }}">Пометить
                    выполненной</a>
                <a class="button tiny" href="{{ url_for('affairs.new_sub_affair', affair_id=affair.id) }}">Создать
                    связанное дело</a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
