{% extends 'layout.html.j2' %}
{% block title %}Список категорий{% endblock %}
{% block content %}
<h1>Список категорий</h1>
<div class="grid-x grid-padding-x">
    {% for category in categories %}
    <div class="medium-12 cell">
        <div class="callout">
            <p>
                {{ category.name }}
            </p>
            <p>
                <a class="button"
                    href="{{ url_for('categories.edit_category', category_id=category.id) }}">Редактировать</a>
                <a class="button alert"
                    href="{{ url_for('categories.del_category', category_id=category.id) }}">Удалить</a>
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="medium-4 cell">
        <a href="{{ url_for('categories.new_category') }}" class="button">Добавить категорию</a>
    </div>
</div>
{% endblock %}
