{% extends "layout.html.j2" %}

{% block content %}

<div class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <p>Вы действительно хотите удалить человека {{ person.first_name }} {{ person.last_name if person.last_name }}</p>
    <form method="post">
      <input type="submit" value="Да" class="button">
      <a class="button" href="{{ url_for('people.person', person_id=person_id) }}">Нет, назад</a>
    </form>
  </div>
</div>

{% endblock %}
