{% extends "layout.html.j2" %}

{% block content %}

<div class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <p>Вы действительно хотите удалить дело {{ affair.name }}</p>
    <form method="post">
      <input type="submit" value="Да" class="button">
      <a class="button" href="{{ url_for('affairs.affair', affair_id=affair_id) }}">Нет, назад</a>
    </form>
  </div>
</div>

{% endblock %}
