{% import 'forms.j2' as forms %}
{% extends 'layout.html.j2' %}
{% block title %}Редактировать дело{% endblock %}
{% block content %}
<h1>Редактировать дело</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            {{ forms.with_errors(form.title, size=50) }}
        </p>
        <p>
            {{ form.description.label }}
            {{ forms.with_errors(form.description) }}
        </p>
        <p>
            {{ form.linked_time.label }}
            {{ forms.with_errors(form.linked_time) }}
        </p>
        <p>
            {{ form.period.label }}
            {{ forms.with_errors(form.period) }}
        </p>
        <p>
            {{ form.done_percent.label }}
            {{ forms.with_errors(form.done_percent, min=0, max=100) }}
        </p>
        <p>
            {{ form.priority.label }}
            {{ forms.with_errors(form.priority) }}
        </p>
        <p>
            {{ form.category_id.label }} <a href="{{ url_for('categories.new_category') }}" class="button small">Добавить категорию</a>
            {{ forms.with_errors(form.category_id) }}
        </p>
        <p><input class="button success" type="submit" value="Редактировать"></p>
    </form>
{% endblock %}
