{% import 'forms.j2' as forms %}
{% extends 'layout.html.j2' %}
{% block title %}Редактировать ресурс{% endblock %}
{% block content %}
<h1>Редактировать ресурс</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ forms.with_errors(form.name, size=50) }}
        </p>
        <p><input class="button success" type="submit" value="Редактировать"></p>
    </form>
{% endblock %}
