{% macro with_errors(field) %}
    <div class="form_field">
    {% if field.errors %}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}
