<!doctype html>
<html class="no-js" lang="ru-RU" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Нет заголовка{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Органайзер</li>
        <li><a href="/">Главная</a>
        <li><a href="{{ url_for('affairs.affairs') }}">Список дел</a></li>
        <li><a href="{{ url_for('people.people') }}">Список людей</a></li>
        <li><a href="{{ url_for('resources.resources') }}">Список ресурсов</a></li>
        <li><a href="{{ url_for('categories.categories') }}">Список категорий</a></li>
      </ul>
    </div>
  </div>
  <div class="grid-container">

    {% block content %}
    Нет содержимого
    {% endblock %}

  </div>
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
