{% import 'forms.j2' as forms %}
{% extends 'layout.html.j2' %}
{% block title %}Новый человек{% endblock %}
{% block content %}
<h1>Новый человек</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}
            {{ forms.with_errors(form.first_name, size=50) }}
        </p>
        <p>
            {{ form.last_name.label }}
            {{ forms.with_errors(form.last_name, size=50) }}
        </p>
        <p>
            {{ form.description.label }}
            {{ forms.with_errors(form.description, size=500) }}
        </p>
        <p>
            {{ form.contacts.label }}
            {{ forms.with_errors(form.contacts, size=100) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
