{% import 'forms.j2' as forms %}
{% extends 'layout.html.j2' %}
{% block title %}Новая категория{% endblock %}
{% block content %}
<h1>Новая категория</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ forms.with_errors(form.name, size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
