{% extends 'layout.html.j2' %}
{% block title %}Список людей{% endblock %}
{% block content %}
<h1>Список людей</h1>
<div class="grid-x grid-padding-x">
    {% for person in people %}
    <div class="medium-12 cell">
        <div class="callout">
            <p>
                {{ person.first_name }} {{ person.last_name if person.last_name }}
            </p>
            <p>
                <a href="{{ url_for('people.person', person_id=person.id) }}">Больше информации</a>
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="medium-4 cell">
        <a href="{{ url_for('people.new_person') }}" class="button">Добавить человека</a>
    </div>
</div>
{% endblock %}
