{% extends 'layout.html.j2' %}
{% block title %}{{ person.first_name }} {{ person.last_name if person.last_name }}{% endblock %}
{% block content %}
<h2>Контакт</h2>
<div class="grid-x grid-padding-x">
    <table>
        <tr>
            <th>Имя</th>
            <td>{{ person.first_name }}</td>
        </tr>
        {% if person.last_name %}
        <tr>
            <th>Фамилия</th>
            <td>{{ person.last_name }}</td>
        </tr>
        {% endif %}
        {% if person.description %}
        <tr>
            <th>Описание</th>
            <td>{{ person.description }}</td>
        </tr>
        {% endif %}
        {% if person.contacts %}
        <tr>
            <th>Контакты</th>
            <td>{{ person.contacts }}</td>
        </tr>
        {% endif %}
    </table>
    <a class="button" href="{{ url_for('people.edit_person', person_id=person_id) }}">Редактировать</a>
    <a class="button alert" href="{{ url_for('people.del_person', person_id=person_id) }}">Удалить</a>
</div>
{% endblock %}
