{% extends 'layout.html.j2' %}
{% block title %}Список ресурсов{% endblock %}
{% block content %}
<h1>Список ресурсов</h1>
<div class="grid-x grid-padding-x">
    {% for resource in resources %}
    <div class="medium-12 cell">
        <div class="callout">
            <p>
                {{ resource.name }}
            </p>
            <p>
                <a href="{{ url_for('resources.resource', resource_id=resource.id) }}">Больше информации</a>
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="medium-4 cell">
        <a href="{{ url_for('resources.new_resource') }}" class="button">Добавить ресурс</a>
    </div>
</div>
{% endblock %}
