{% extends 'layout.html.j2' %}
{% block title %}{{ resource.name }}{% endblock %}
{% block content %}
<h2>Ресурс</h2>
<div class="grid-x grid-padding-x">
    <table>
        <tr>
            <th>Название</th>
            <td>{{ resource.name }}</td>
        </tr>
    </table>
    <a class="button" href="{{ url_for('resources.edit_resource', resource_id=resource_id) }}">Редактировать</a>
    <a class="button alert" href="{{ url_for('resources.del_resource', resource_id=resource_id) }}">Удалить</a>
</div>
{% endblock %}
